* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #0D0D0D;
    color: #F2E7DC;
}

.titulo-destaque {
    color: #22D4FD;
}

.paragrafo-destaque {
    color: #22D4FD;
}

.apresentacao {
    display: flex;
    align-items: center;
}